body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin: 0%;
}

.topocabecalho {
    text-align: center;
background-color: rgb(138, 120, 210);
padding: 20px;
} 
h2{
    text-align: justify;
    color: rgb(112, 43, 43); 

}      
img{
     width:200px;
    height: 300px;
    margin:5px;
}

.headermeio{
    text-align: center;
background-color: rgb(182, 174, 213);
padding: 5px;
}
P{
    text-align:justify;
    color: rgb(158, 5, 5);
}
.iframe{
    margin: 15;
}
